<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.talend.designer.runprocess.jobLaunchConfiguration">
<stringAttribute key="CURRENT_PROJECT_NAME" value="Administrativo_Senado"/>
<stringAttribute key="JOB_PROJECT_TECH_LABEL" value="ADMINISTRATIVO_SENADO"/>
<stringAttribute key="TALEND_JOB_ID" value="_t0RmQG3bEeqG4Zj3SVZ_Vw"/>
<stringAttribute key="TALEND_JOB_NAME" value="job_cotas"/>
<stringAttribute key="TALEND_JOB_VERSION" value="0.1"/>
</launchConfiguration>
